<h1>New movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<div>
  <%= link_to "Go to Directors", directors_path %>
</div>

<p>
</p>

<%= form_with model: @movie do |form| %>
  <div>
    
    <%= form.label :title %>

    <%= form.text_field :title %>

  </div>

  <div>
    <%= form.label :description %>

    <%= form.text_area :description, rows: 3 %>
  </div>

  <!-- <div>
    <%= form.label :director_id %>

    <%= form.text_area :director_id, rows: 1 %>
  </div> -->

  <%= form.button %>
<% end %>
